.services {
    padding: 6rem 10rem;
    display: block;
    font-size: larger;
    text-align: justify;
}

.swiper-container {
    height: 20rem;
    /* width: 40rem; */
    padding: 2rem 1rem !important;
    position: relative;
}

.swiperSlideContainer{
    width: 100%;
    height: 100%;
    padding: 2rem;
    background: #c09fb8;
    align-items: center;
    justify-content: center;
}

.swiper-slide {
    width: 30rem !important;
    height: 42rem;
    margin: 0 0.3rem 0 0.3rem;
    position: relative;
}

/* ============ */

.slider-controler {
    position: relative;
    /* top: 4rem; */
    /* bottom: 2rem;  */
    padding: 0 0 4rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.slider-controler .swiper-button-next {
    left: 75% !important;
    transform: translateX(-65%) !important;
    /* top: auto; */
}
  
.slider-controler .swiper-button-prev {
    left: 35%;
    transform: translateX(-35%);
}

/* ------------- */

.slider-controler .slider-arrow {
    /* background: white; */
    background: #c09fb8;
    color: #b11876;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 70%;
    left: 25%;
    transform: translateX(-35%);
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
    z-index: 12 !important;
    margin-top: -3rem;
  }
  
  .slider-controler .slider-arrow::after {
    content: '';
  }
  
  .swiper-pagination {
    position: relative !important;
    width: 20rem !important;
    /* top: 1rem !important; */
    z-index: 10 !important;
  }
  
  .swiper-pagination .swiper-pagination-bullet {
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  }
  
  .swiper-pagination .swiper-pagination-bullet-active {
    background: #b11876;
  }

@media (max-width: 870px) {
    .services {
        padding: 7rem 2.5rem;
        font-size: medium;
    }
    .swiper-slide {
      width: 20rem !important;
    }
    .slider-controler .swiper-button-next {
        left: 70% !important;
        transform: translateX(-70%) !important;
    }
    .slider-controler .swiper-button-prev {
        left: 30% !important;
        transform: translateX(-30%) !important;
    }
}

@media (max-width: 500px) {
    .services {
        padding: 7rem 2.5rem;
        font-size: smaller;
    }
    .swiper-container {
      height: 20rem;
    }
    .swiper-slide {
      width: 100% !important;
      height: 100% !important;
    }
    .slider-controler .swiper-button-next {
        display: none;
        width: 2rem !important;
        height: 2rem !important;
        left: 92% !important;
        transform: translateX(-92%) !important;
    }
    .slider-controler .swiper-button-prev {
        display: none;
        width: 2rem !important;
        height: 2rem !important;
        left: 8% !important;
        transform: translateX(-8%) !important;
    }
  }