.services {
    padding: 6rem 6rem;
    display: block;
    font-size: larger;
    text-align: justify;
}

.serv1stDiv{
    color: #705465;
}
.servH4{
    color: #b11876;
}

.serviceList{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.servDetails{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    text-align: center;
    max-width: 250px;
    text-decoration: none;
}
.servDetails:hover{
    cursor: pointer;
    background: #c09fb8;
    .servDesc{
        color: white;
    }
}
.servImg{
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.servName{
    font-size: 1rem;
    color: #b11876;
    margin: 8px 0;
}
.servDesc{
    font-size: 1rem;
    color: #705465;
}

@media (max-width: 870px) {
    .services {
        padding: 7rem 2.5rem 2rem;
        font-size: medium;
    }
    .servDetails{
        padding: 12px;
        margin: 12px;
        text-align: center;
        max-width: 200px;
    }
    
}

@media (max-width: 500px) {
    .services {
        padding: 6rem 2rem 2rem;
        font-size: smaller;
    }
    .serviceList{
        justify-content: space-evenly;
    }
    .servDetails{
        padding: 10px;
        margin: 10px;
        text-align: center;
        max-width: 145px;
    }
    .servName{
        font-size: small;
        margin: 8px 0;
    }
    .servDesc{
        font-size: x-small;
        color: #666;
    }
  }
  @media (max-width: 400px) {
    .servDetails{
        max-width: 120px;
    }
  }