.home {
    padding: 0 6rem 6rem 6rem;
    display: block;
    font-size: larger;
    text-align: justify;
    /* background:aliceblue; */
    background: whitesmoke;
}

#intro { 
    height: calc(100vh);
    /* width: 100vw; */
    /* max-width: 75rem; */
    /* margin-left: -7rem; */
    display: flex;
    /* margin: 0 auto; */
    /* overflow: hidden; */
    /* background:aliceblue; */
}

.bgImg {
    position: absolute;
    /* top: 0; */
    right: 5rem;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
    width: 60vh;
}

.bgImg1 {
    object-fit: cover;
    height: 100vh;
    width: 60vh;
}

.introContent {
    height: 100vh;
    /* width: 110vh; */
    /* padding: 2rem; */
    margin-left: 10rem;
    font-size: 2.2rem;
    font-weight: 700;
    display: flex;
    color: #705465;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.greeting {
    font-size: 1.3rem;
    font-weight: 400;
    padding-bottom: .5rem;
}

.intoEmpori {
    color: #b11876;
}

.introPara {
    padding: 1.2rem 0;
    font-size: medium;
    font-weight: 100;
    /* width: 70%; */
}

.hireLink {
    width: 8rem;
}
.hireMeBtn {
    width: 100%;
    background: #c09fb8;
    margin: 1rem 0;
    font-size: small;
    padding: 0.80rem 1.5rem;
    border: none;
    border-radius: 2rem;
}

.hireMeBtn:hover {
    background: #bb77aa;
    cursor: pointer;
    color: white;
}

.hireMe {
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1.5rem;
    width: 1.5rem;
}

@media (max-width: 1050px) {
    .introContent {
        font-size: 4vw;
        margin-left: 0;
        width: 100vw;
    }
}

@media (max-width: 870px) {
    .home {
        padding: 0rem 2.5rem 2.5rem 2.5rem;
    }
    .bgImg {
        object-fit: cover;
        height: 100vh;
        width: 100vw;
        right: 0;
    }
    .hireLink {
        width: 6rem;
    }
    .hireMeBtn {
        font-size: x-small;
        margin: 0.6rem 0;
        padding: 0.60rem 1rem;
    }
    .introContent {
        font-size: 4vw;
        margin-left: 0;
        width: 100vw;
    }

    .greeting {
        font-size: 2vw;
    }
}

@media screen and (max-width:480px) {
    .bgImg {
        padding-left: 7rem;
    }

    .introContent {
        font-size: 5vw;
        width: 100vw;
    }

    .greeting {
        font-size: 4vw;
    }

    .introPara {
        font-size: small;
    }
}
