.home {
    /* padding: 0 6rem 6rem 6rem; */
    display: block;
    font-size: larger;
    text-align: justify;
    /* background:aliceblue; */
    background: whitesmoke;
}

#intro { 
    height: calc(100vh);
    /* width: 100vw; */
    /* width: 100vw !important; */
    /* max-width: 75rem; */
    /* margin-left: -7rem; */
    display: flex;
    /* margin: 0 auto; */
    /* overflow: hidden; */
    /* background:aliceblue; */
    background: whitesmoke;
    /* position: absolute; */
}

.bgImg {
    position: absolute;
    /* top: 0; */
    right: 5rem;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
    width: 60vh;
}

.bgImg1 {
    object-fit: cover;
    height: 100vh;
    width: 60vh;
}

.introContent {
    height: 100vh;
    /* width: 110vh; */
    /* padding: 2rem; */
    margin-left: 10rem;
    font-size: 2.2rem;
    font-weight: 700;
    display: flex;
    color: #705465;
    /* color: #9C6644; */
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.greeting {
    font-size: 1.3rem;
    font-weight: 400;
    padding-bottom: .5rem;
}

.intoEmpori {
    color: #b11876;
    /* color: #7F5539; */
}

.introPara {
    padding: 1.2rem 0;
    font-size: medium;
    font-weight: 100;
    /* width: 70%; */
}

.hireLink {
    width: 8rem;
}
.hireMeBtn {
    width: 100%;
    background: #c09fb8;
    margin: 1rem 0;
    font-size: small;
    padding: 0.80rem 1.5rem;
    border: none;
    border-radius: 2rem;
}

.hireMeBtn:hover {
    background: #bb77aa;
    cursor: pointer;
    color: white;
}

.hireMe {
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1.5rem;
    width: 1.5rem;
}

/* --------------- */
.secondIntro {
    height: calc(100vh);
    padding: 1rem 0rem 0rem 0rem;
    width: 100%;
    /* max-width: 75rem; */
    /* margin-left: -7rem; */
    /* display: flex; */
    /* margin: 0 auto; */
    /* overflow: hidden; */
    background:aliceblue;
}
.textSecondIntro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.swiper-container {
    height: 20rem;
    /* width: 100%; */
    /* width: 40rem; */
    padding: 2rem 1rem !important;
    position: relative;
}

.swiperSlideContainer{
    width: 100%;
    height: 100%;
    padding: 2rem;
    background: #c09fb8;
    align-items: center;
    justify-content: center;
}

.swiper-slide {
    width: 30rem !important;
    height: 42rem;
    margin: 0 0.3rem 0 0.3rem;
    position: relative;
}

/* ============ */

.slider-controler {
    position: relative;
    /* top: 4rem; */
    /* bottom: 2rem;  */
    padding: 0 0 4rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.slider-controler .swiper-button-next {
    left: 75% !important;
    transform: translateX(-65%) !important;
    /* top: auto; */
}
  
.slider-controler .swiper-button-prev {
    left: 35%;
    transform: translateX(-35%);
}

/* ------------- */

.slider-controler .slider-arrow {
    /* background: white; */
    background: #c09fb8;
    color: #b11876;
    width: 2.5rem;
    height: 1.5rem;
    /* border-radius: 70%; */
    border-radius: 20%;
    left: 25%;
    transform: translateX(-35%);
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
    z-index: 12 !important;
    margin-top: -3rem;
  }
  
  .slider-controler .slider-arrow::after {
    content: '';
  }
  
  .swiper-pagination {
    position: relative !important;
    width: 20rem !important;
    /* top: 1rem !important; */
    z-index: 10 !important;
  }
  
  .swiper-pagination .swiper-pagination-bullet {
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  }
  
  .swiper-pagination .swiper-pagination-bullet-active {
    background: #b11876;
  }

.thirdIntro{
    padding: 0 6rem 6rem 6rem;
}

@media (max-width: 1050px) {
    .introContent {
        /* font-size: 4vw; */
        margin-left: 4rem;
        width: 100vw;
    }
}

@media (max-width: 870px) {
    .home {
        padding: 0rem 2.5rem 2.5rem 2.5rem;
    }
    .bgImg {
        object-fit: cover;
        height: 100vh;
        width: 100vw;
        right: 0;
    }
    .hireLink {
        width: 6rem;
    }
    .hireMeBtn {
        font-size: x-small;
        margin: 0.6rem 0;
        padding: 0.60rem 1rem;
    }
    .introContent {
        font-size: 4vw;
        margin-left: 0;
        width: 100vw;
    }
    .greeting {
        font-size: 2vw;
    }

    .swiper-slide {
        width: 20rem !important;
      }
      .slider-controler .swiper-button-next {
          left: 70% !important;
          transform: translateX(-70%) !important;
      }
      .slider-controler .swiper-button-prev {
          left: 30% !important;
          transform: translateX(-30%) !important;
      }
    .thirdIntro{
        padding: 0;
    }
}

@media screen and (max-width:480px) {
    .bgImg {
        padding-left: 7rem;
    }

    .introContent {
        font-size: 5vw;
        width: 100vw;
    }

    .greeting {
        font-size: 4vw;
    }

    .introPara {
        font-size: small;
    }

    .secondIntro{
        padding: 0;
        font-size: small;
        /* padding-top: 1rem; */
    }
    .swiper-container {
        height: 20rem;

      }
      .swiper-slide {
        width: 100% !important;
        height: 100% !important;
      }
      .slider-controler .swiper-button-next {
          display: none;
          width: 2rem !important;
          height: 2rem !important;
          left: 92% !important;
          transform: translateX(-92%) !important;
      }
      .slider-controler .swiper-button-prev {
          display: none;
          width: 2rem !important;
          height: 2rem !important;
          left: 8% !important;
          transform: translateX(-8%) !important;
      }
      .thirdIntro{
        padding: 0;
    }
}
